@font-face {
    font-family: "Jetbrains Mono";
    src: url(./JetBrainsMono.ttf);
}

@font-face {
    font-family: "Abril Fatface";
    src: url(./AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: "Rokkitt";
    src: url(./Rokkitt-VariableFont_wght.ttf);
}

:root {
  --bg: #202020;
  --fg: silver;
  --link: ghostwhite;
  --code-bg: #101010;
  --hover-bg: #303030;
  --accent: goldenrod;

  --font: "Rokkitt";
  --heading-font: "Abril Fatface";
  --code-font: "Jetbrains Mono";
}

body {
    color: var(--fg);
    background-color: var(--bg);
    font-family: var(--font);
    font-size: 1.5rem;
    line-height: 1.5;
    max-width: 1280px;
    margin: auto;
}

h1, h2 {
    font-family: var(--heading-font);
    font-weight: bold;
    font-style: italic;
    font-size: 4rem;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: var(--accent);
    text-underline-offset: 10%;
    text-decoration-thickness: .2ex;
    color: var(--fg);
}

h2 {
    font-size: 2rem;
    text-align: left;
}

table {
    width: 100%;
    border-color: var(--accent);
    border-style: solid;
    border-width: thin;
    border-radius: 20px
}

thead {
    background-color: var(--code-bg);
}

tr:nth-child(even) {
    background-color: var(--code-bg);
}

tr:hover {
    background-color: var(--hover-bg);
}

td, th {
    padding: 0.75rem;
}

th {
    font-family: var(--heading-font);
    font-size: 1.75rem;
    text-decoration-line: underline;
    text-decoration-color: var(--accent);
    text-underline-offset: 10%;
    text-decoration-thickness: .2ex;
    padding: 0.25rem;
}

a {
    color: var(--link);
    font-style: italic;
    font-weight: bold;
    text-decoration-line: none;
}

pre, code {
    color: var(--link);
    background-color: var(--code-bg);
    border-color: var(--accent);
    border-radius: 10px;
    border-style: outset;
    border-width: thin;
    font-family: var(--code-font);
    font-weight: lighter;
    font-size: 1.25rem;
    line-height: 1;
    padding: 1rem;
}

code {
    border-style: none;
    border-radius: 5px;
    padding: 0.25rem;
}

hr {
    border-style: dashed;
    border-color: var(--accent);
}

footer {
    text-align: center;
    font-size: 1rem;
}

@media screen and (max-width: 600px) {
    table {
        width: 100%; /* Allows the table to be 100% width on smaller screens */
    }

    body {
        padding: 0.5em;
    }
}
